:root {
  //Primary
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);

  // Neutral
  --Transparent-white: hsla(0, 0%, 100%, 0.75);
  --Very-light-gray: hsl(0, 0%, 95%);
}

* {
  margin: 0;
  padding: 0;
}

$font-title: "Big Shoulders Display", cursive;
$font-paragrant: "Lexend Deca", sans-serif;

body {
  background-color: var(--Very-light-gray);
  box-sizing: border-box;
  font: {
    size: 15px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  inline-size: 328px;
  margin: auto;
  margin-block-start: 60px;
}

.card {
  .card-orange {
    background-color: var(--Bright-orange);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .card-cyan {
    background-color: var(--Dark-cyan);
  }

  .card-dark-cyan {
    background-color: var(--Very-dark-cyan);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .card-wrapper {
    inline-size: 240px;
    margin: auto;
  }

  .card-img {
    padding-block-start: 45px;
  }

  .card-content {
    margin-block-start: 34px;
    margin-block-end: 34px;
    h2 {
      color: var(--Very-light-gray);
      font: {
        family: $font-title;
        size: 40px;
        weight: 700;
      }
      line-height: 24px;
      margin-block-end: 34px;
      text-transform: uppercase;
    }

    p {
      color: var(--Transparent-white);
      font: {
        family: $font-paragrant;
        weight: 400;
      }
      line-height: 24px;
    }
  }

  @mixin button($color: white) {
    background-color: var(--Very-light-gray);
    border: none;
    border-radius: 35px;
    box-sizing: border-box;
    box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.2);
    color: $color;
    font: {
      family: $font-paragrant;
      size: 15px;
      weight: 400;
    }
    margin-block-end: 40px;
    padding-block: 20px;
    padding-inline: 40px;
    transition: 0.5s all ease-in-out;
  }

  .btn-orange {
    @include button($color: var(--Bright-orange));
  }

  .btn-orange:hover {
    background-color: var(--Bright-orange);
    border: 1px solid var(--Very-light-gray);
    color: var(--Very-light-gray);
    cursor: pointer;
  }

  .btn-cyan {
    @include button($color: var(--Dark-cyan));
  }

  .btn-cyan:hover {
    background-color: var(--Dark-cyan);
    border: 1px solid var(--Very-light-gray);
    color: var(--Very-light-gray);
    cursor: pointer;
  }

  .btn-dark-cyan {
    @include button($color: var(--Very-dark-cyan));
  }

  .btn-dark-cyan:hover {
    background-color: var(--Very-dark-cyan);
    border: 1px solid var(--Very-light-gray);
    color: var(--Very-light-gray);
    cursor: pointer;
  }
}

.attribution {
  font: {
    family: $font-paragrant;
    size: 12px;
    weight: 400;
  }
  font-size: 12px;
  margin: {
    block-start: 25px;
    block-end: 25px;
  }
  text-align: center;
  a {
    color: hsl(228, 45%, 44%);
    &hover {
      color: hsla(228, 45%, 44%, 0.459);
    }
  }
}

@media only screen and (min-width: 1024px) {
  .wrapper {
    flex-direction: row;
    inline-size: 918px;
    margin-block-start: 80px;
  }

  .card {
    inline-size: 306px;
    .card-orange {
      border: {
        top-left-radius: 8px;
        bottom-left-radius: 8px;
        top-right-radius: 0;
      }
    }

    .card-dark-cyan {
      border: {
        top-right-radius: 8px;
        bottom-right-radius: 8px;
        bottom-left-radius: 0;
      }
    }

    .card-wrapper {
      inline-size: 210px;
    }
  }
}
